@font-face {
    font-family: 'NanumSquareB';
    src: url(./../asset/font/NanumSquareB.woff2) format('woff2');
}

* {
    font-family: NanumSquareB !important;
}
div.App {
    padding: 30px;
    background-color: #fff;
}

div.GraphGrid {
    width: 60%;
    height: 100%;
    margin: 0, 15px, 0, 0;
    border-radius: 10px;
    border: solid 1px #cfd3e4;
    background-color: #fff;
}

div.InfoGrid {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.InfoGrid > div {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    border: solid 1px #cfd3e4;
    background-color: #fff;
}
.InfoHeader {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}
.InfoHeader > div {
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 100%;
}
.InfoHeader > div.selected {
    border-bottom: solid 5px #254d71;
}

.InfoContent {
    padding: 60px;
}

.AddressArea {
    display: flex;
    flex-direction: row;
}
.AddressArea > a > img {
    width: 30px;
    height: 30px;
}
p.address {
    font-size: 18px;
    font-weight: normal;
    color: #1f1f1f;
}

.InfoBox {
    width: 34%;
    height: 120%;
    padding: 16px 0 0 16px;
    border-radius: 2px;
    background-color: #e3f5f8;
}

.TypeBox {
    width: 40%;
    height: 33px;
    border-radius: 20px;
    background-color: #21a3b4;
}

.TypeBox > p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    line-height: 33px;
    color: #fff;
}

.BalanceTitle {
    font-size: 14px;
    margin: 15px 0 2px 0;
    color: #1f1f1f;
}

.BalanceValue {
    font-size: 28px;
    color: #8f8084;
    margin: 0;
}